*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(50, 56, 54);
}

.container {
    display: flex;
    justify-content: center;
}

label{
    width: 50px;
    display: flex;
    justify-content: end;
}

fieldset{
    display: flex;
    
}

fieldset>label{
    width: auto;
    margin-left: 20px;
}